*{
    margin: 0px;
}
.lalasia{
    margin-top: 39px;
    margin-bottom: 39px;   
    display: flex;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 44px;
}
.icon-r{
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
}
img{
    margin-right: 20px;
}
.text-1{
    position: relative;
    color: rgba(122, 122, 122, 0.342);
}
.img-2{
    position: absolute;
    top:120px;
    left: 10%;
}
.search-bar{
    width: 60%;
    height: 5vh;
    top: 60%;
}